# Fill in your credentials below and rename this file to secrets.toml
# Place it at: .streamlit/secrets.toml

[snowflake]
account = "sq33124"
user = ""
password = ""
warehouse = "COMPUTE_WH"
database = "DATA_MIGRATION"
schema = "CONTROL"

[mssql]
server = ""
user = ""
password = ""
driver = "ODBC Driver 17 for SQL Server"
